{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Welcome to the Group's NBA DATA Page!</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/nbaball.jpg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">This is the <mark>NBA Group Project</mark></h5>
                    <p class="card-text">
                        <ol>
                            <li>We are making a page for each NBA team</li>
                            <li>Custom made API of NBA Statistics</li>
                            <li>API has all 30 teams in the NBA</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">About Me</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/shaq.jpg') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Why did we choose <mark>THE NBA?</mark> </h5>
                    <p class="card-text">
                        <ol>
                            <li>We feel that Basketball is the best sport and the most interesting sport</li>
                            <li>All players are very talented that play</li>
                            <li>They have the top talent in the world</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Project Plan</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/waffle.jpg') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">How can you start off your basketball career?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Start off with basics</li>
                            <li>Have a mom or dad teach you how to play</li>
                            <li>Once you get more experienced start playing for teams etc.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">My Blog</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}