{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/basketball.jpg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What should <mark>new basketball players</mark> learn?</h5>
                    <p class="card-text">
                        <ol>
                            <li>You have to learn how to constantly make layups</li>
                            <li>Slowly develop a jumpshot</li>
                            <li>Learn how to land safely when you jump or you can possibly get injured</li>
                            <li>Learn how to do dribble moves slowly</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/football.jpg') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What is 4 things you need to know about <mark>football</mark>? </h5>
                    <p class="card-text">
                        <ol>
                            <li>You have to learn how to stop and accelerate with and without the ball</li>
                            <li>Learn how to anticipate the defense</li>
                            <li>Learn how to run off ball</li>
                            <li>Be a team player</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/Soccer.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What is 4 things you need to know how to </mark>soccer</mark>?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Learn how to dribble with the ball</li>
                            <li>Learn how to assist goals and pass the ball across the field</li>
                            <li>Trapping the ball on defense and high pressure</li>
                            <li>Offball movement is a very important skill</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}